.header {
    width: 100%;
}

.navbar {
    text-transform: uppercase;
    letter-spacing: .1em;
}

@media (min-width:768px) {
    .navbar ul.nav > li > a {
        border-top: solid 5px transparent;
        padding-top: 34.5px;
    }

    .navbar ul.nav > li > a:hover {
        border-top-color: #ff7473;
    }

    .navbar ul.nav > li.active > a, .navbar ul.nav > li.open > a {
        text-decoration: none !important;
        border-top-color: #ff7473;
    }
}

.navbar-toggle {
    text-transform: uppercase;
    letter-spacing: .1em;
    color: #fff;
}

ul.dropdown-menu li a {
    -webkit-transition: all .2s ease-out;
    -moz-transition: all .2s ease-out;
    transition: all .2s ease-out;
}

ul.dropdown-menu li a:hover {
    -webkit-transition: all .2s ease-out;
    -moz-transition: all .2s ease-out;
    transition: all .2s ease-out;
}

#login-modal {
    overflow: hidden;
}

#login-modal .modal-header h4 {
    text-transform: uppercase;
}

#login-modal form {
    margin-bottom: 21px;
}

#login-modal a {
    color: #ff7473;
}

#login-modal p {
    font-weight: 300;
    margin-bottom: 21px;
    font-size: 13px;
}

.modal-backdrop {
    z-index: 1035;
}

html {
    height: 100%;
}

body {
    height: 100%;
}

header {
    z-index: 1000;
}

section {
    position: relative;
    padding-top: 90px;
    padding-bottom: 90px;
}

.italic {
    font-style: italic;
    font-family: "Georgia","Times New Roman",Times,serif;
}

.heading {
    text-align: center;
    margin-bottom: 40px;
}

.heading:after {
    content: " ";
    display: block;
    width: 100px;
    height: 2px;
    margin: 20px auto 20px;
    background: #ff7473;
}

.img-responsive {
    margin: 0 auto;
}

.no-space .box {
    margin: 0 -15px;
}

.margin-top {
    margin-top: 30px;
}

.margin-bottom {
    margin-bottom: 30px;
}

.margin-bottom--big {
    margin-bottom: 60px !important;
}

a, button {
    -webkit-transition: all .2s ease-out;
    -moz-transition: all .2s ease-out;
    transition: all .2s ease-out;
}

a i.fa, button i.fa {
    margin: 0 5px;
}

.clickable {
    cursor: pointer !important;
}

.required {
    color: #ff7473;
}

.accent {
    color: #ff7473;
}

.text-uppercase {
    text-transform: uppercase;
}

.list-style-none {
    list-style: none;
}

.pages {
    text-align: center;
}

#map {
    height: 300px;
}

.btn-ghost {
    color: #ff7473;
    background-color: transparent;
    border-color: #ff7473;
}

.btn-ghost:hover, .btn-ghost:focus, .btn-ghost:active, .btn-ghost.active, .open .dropdown-toggle.btn-ghost {
    color: #ff7473;
    background-color: rgba(0,0,0,0);
    border-color: #ff3736;
}

.btn-ghost:active, .btn-ghost.active, .open .dropdown-toggle.btn-ghost {
    background-image: none;
}

.btn-ghost.disabled, .btn-ghost[disabled], fieldset[disabled] .btn-ghost, .btn-ghost.disabled:hover, .btn-ghost[disabled]:hover, fieldset[disabled] .btn-ghost:hover, .btn-ghost.disabled:focus, .btn-ghost[disabled]:focus, fieldset[disabled] .btn-ghost:focus, .btn-ghost.disabled:active, .btn-ghost[disabled]:active, fieldset[disabled] .btn-ghost:active, .btn-ghost.disabled.active, .btn-ghost[disabled].active, fieldset[disabled] .btn-ghost.active {
    background-color: transparent;
    border-color: #ff7473;
}

.btn-ghost .badge {
    color: transparent;
    background-color: #ff7473;
}

.btn-ghost:hover, .btn-ghost:focus, .btn-ghost:active, .btn-ghost.active, .open .dropdown-toggle.btn-ghost {
    color: #fff;
    background-color: #ff7473;
    border-color: #ff7473;
}

.btn-white {
    color: #fff;
    background-color: transparent;
    border-color: #fff;
}

.btn-white:hover, .btn-white:focus, .btn-white:active, .btn-white.active, .open .dropdown-toggle.btn-white {
    color: #fff;
    background-color: rgba(0,0,0,0);
    border-color: #e0e0e0;
}

.btn-white:active, .btn-white.active, .open .dropdown-toggle.btn-white {
    background-image: none;
}

.btn-white.disabled, .btn-white[disabled], fieldset[disabled] .btn-white, .btn-white.disabled:hover, .btn-white[disabled]:hover, fieldset[disabled] .btn-white:hover, .btn-white.disabled:focus, .btn-white[disabled]:focus, fieldset[disabled] .btn-white:focus, .btn-white.disabled:active, .btn-white[disabled]:active, fieldset[disabled] .btn-white:active, .btn-white.disabled.active, .btn-white[disabled].active, fieldset[disabled] .btn-white.active {
    background-color: transparent;
    border-color: #fff;
}

.btn-white .badge {
    color: transparent;
    background-color: #fff;
}

.btn-white:hover, .btn-white:focus, .btn-white:active, .btn-white.active, .open .dropdown-toggle.btn-white {
    color: #ff7473;
    background-color: #fff;
    border-color: #fff;
}

.breadcrumb {
    font-family: "Montserrat",Helvetica,Arial,sans-serif;
    text-transform: uppercase;
    letter-spacing: .1em;
    text-align: center;
    font-size: 12px;
}

.box-simple {
    text-align: center;
    margin-bottom: 42px;
}

.box-simple .icon {
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 20px;
    border: solid 1px #ff7473;
    color: #ff7473;
    border-color: #ff7473;
    -webkit-transition: all .2s ease-out;
    -moz-transition: all .2s ease-out;
    transition: all .2s ease-out;
    font-size: 14px;
    margin: 0 auto 30px;
}

.box-simple h3 {
    font-weight: normal;
    font-size: 18px;
    text-transform: uppercase;
    line-height: 1.5;
    color: #555;
    font-weight: 800;
    letter-spacing: .08em;
}

.box-simple h3 a {
    color: #555;
}

.box-simple p {
    color: #999;
}

.box-simple:hover .icon {
    -webkit-transform: scale(1.1, 1.1);
    -ms-transform: scale(1.1, 1.1);
    transform: scale(1.1, 1.1);
}

.box-simple:hover .icon i {
    -webkit-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    transform: scale(1, 1);
}

.box-simple.box-white {
    padding: 20px;
    border: dotted 1px #999;
}

.box-simple.box-white .icon {
    color: #555;
    border-color: transparent;
    font-size: 70px;
}

.box-simple.box-dark {
    padding: 20px;
    border: dotted 1px #999;
    background: #555;
    color: #fff;
}

.box-simple.box-dark .icon {
    color: #f7f7f7;
    border-color: transparent;
    font-size: 70px;
}

.box-simple.box-dark h3 {
    color: #fff;
}

.box-simple.box-dark h3 a {
    color: #fff;
}

.box-simple.box-dark p {
    color: #fff;
}

.box-image {
    position: relative;
    overflow: hidden;
    text-align: center;
    margin: 15px 0;
}

.box-image .bg {
    position: absolute;
    top: auto;
    bottom: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    filter: alpha(opacity=0);
    background: #ff7473;
}

.box-image .name {
    position: absolute;
    width: 100%;
    height: 50%;
    bottom: 0;
    -webkit-transform: translate(0, 100%);
    -ms-transform: translate(0, 100%);
    transform: translate(0, 100%);
    -webkit-transition: all .2s ease-out;
    -moz-transition: all .2s ease-out;
    transition: all .2s ease-out;
    color: #fff;
    padding: 0 20px;
}

.box-image .name h3 {
    color: #fff;
    text-transform: uppercase;
    font-size: 18px;
    letter-spacing: .08em;
}

.box-image .name h3 a {
    color: #fff;
    text-decoration: none;
}

.box-image .text {
    position: absolute;
    width: 100%;
    height: 50%;
    top: 0;
    -webkit-transform: translate(0, -150%);
    -ms-transform: translate(0, -150%);
    transform: translate(0, -150%);
    -webkit-transition: all .2s ease-out;
    -moz-transition: all .2s ease-out;
    transition: all .2s ease-out;
    color: #fff;
    padding: 0 20px;
}

.box-image:hover .bg {
    opacity: .7;
    filter: alpha(opacity=70);
}

.box-image:hover .name {
    position: absolute;
    -webkit-transform: translate(0, -75%);
    -ms-transform: translate(0, -75%);
    transform: translate(0, -75%);
}

.box-image:hover .text {
    position: absolute;
    -webkit-transform: translate(0, 100%);
    -ms-transform: translate(0, 100%);
    transform: translate(0, 100%);
}

.box-image-text {
    position: relative;
    background: #fff;
    overflow: hidden;
    text-align: center;
    margin: 15px 0;
}

.box-image-text .top {
    position: relative;
    margin-bottom: 10px;
}

.box-image-text .top .bg {
    position: absolute;
    top: auto;
    bottom: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    filter: alpha(opacity=0);
    background: #fff;
}

.box-image-text .top .logo {
    width: 100%;
    position: absolute;
    text-align: center;
    top: 50%;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
}

.box-image-text .top .name {
    position: absolute;
    width: 100%;
    height: 50%;
    bottom: 0;
    -webkit-transform: translate(0, 100%);
    -ms-transform: translate(0, 100%);
    transform: translate(0, 100%);
    -webkit-transition: all .2s ease-out;
    -moz-transition: all .2s ease-out;
    transition: all .2s ease-out;
    color: #fff;
    padding: 0 20px;
}

.box-image-text .top .name h3 {
    color: #fff;
    text-transform: uppercase;
    font-size: 18px;
    letter-spacing: .08em;
}

.box-image-text .top .name h3 a {
    color: #fff;
    text-decoration: none;
}

.box-image-text .top .name h4 {
    color: #fff;
    text-transform: uppercase;
    font-size: 18px;
    letter-spacing: .08em;
}

.box-image-text .top .name h4 a {
    color: #fff;
    text-decoration: none;
}

.box-image-text .top .text {
    position: absolute;
    width: 100%;
    height: 50%;
    top: 0;
    -webkit-transform: translate(0, -150%);
    -ms-transform: translate(0, -150%);
    transform: translate(0, -150%);
    -webkit-transition: all .2s ease-out;
    -moz-transition: all .2s ease-out;
    transition: all .2s ease-out;
    color: #fff;
    padding: 0 20px;
}

.box-image-text .content {
    padding: 15px 15px 0 15px;
}

.box-image-text .content h3, .box-image-text .content h4 {
    text-transform: uppercase;
    line-height: 1.5;
    color: #555;
    font-weight: 800;
    letter-spacing: .08em;
}

.box-image-text .content p {
    color: #999;
}

.box-image-text.bg-visible .bg {
    opacity: .8;
    filter: alpha(opacity=80);
}

.box-image-text:hover .bg {
    opacity: .7;
    filter: alpha(opacity=70);
}

.box-image-text:hover .name {
    position: absolute;
    -webkit-transform: translate(0, -75%);
    -ms-transform: translate(0, -75%);
    transform: translate(0, -75%);
}

.box-image-text:hover .text {
    position: absolute;
    -webkit-transform: translate(0, 100%);
    -ms-transform: translate(0, 100%);
    transform: translate(0, 100%);
}

.box {
    background: #fff;
    margin: 0 0 30px;
    border: solid 1px #ccc;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 20px 0;
    border-left: none;
    border-right: none;
}

.box .box-header {
    background: #f7f7f7;
    margin: -20px 0 20px;
    padding: 20px;
    border-bottom: solid 1px #eee;
    text-transform: uppercase;
    letter-spacing: .08em;
}

.box .box-header:before, .box .box-header:after {
    content: " ";
    display: table;
}

.box .box-header:after {
    clear: both;
}

.box .box-footer {
    background: #f7f7f7;
    margin: 30px 0 -20px;
    padding: 20px;
    border-top: solid 1px #eee;
}

.box .box-footer:before, .box .box-footer:after {
    content: " ";
    display: table;
}

.box .box-footer:after {
    clear: both;
}

@media (max-width:991px) {
    .box .box-footer .btn {
        margin-bottom: 20px;
    }
}

.box.no-border {
    border: none;
}

.owl-carousel .owl-controls .owl-page.active span, .owl-theme .owl-controls .owl-page.active span, .owl-carousel .owl-controls.clickable .owl-page:hover span, .owl-theme .owl-controls.clickable .owl-page:hover span {
    background: #ff7473;
}

.owl-carousel .owl-controls .owl-buttons, .owl-theme .owl-controls .owl-buttons {
    position: absolute;
    top: 5px;
    right: 0;
}

.owl-carousel .owl-controls .owl-buttons div, .owl-theme .owl-controls .owl-buttons div {
    width: 26px;
    height: 26px;
    line-height: 25px;
    margin: 0 5px 0 0;
    font-size: 18px;
    color: #ff7473;
    padding: 0;
    background: #fff;
    border-radius: 13px;
    vertical-align: middle;
    text-align: center;
    opacity: 1;
    filter: alpha(opacity=100);
}

.testimonials {
    padding: 0;
    margin-bottom: 40px;
}

.testimonials .item {
    list-style-type: none;
    margin: 0 5px;
    background: #fff;
    padding-bottom: 60px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.testimonials .item .testimonial {
    position: relative;
    padding: 20px;
}

.testimonials .item .testimonial:before, .testimonials .item .testimonial:after {
    content: " ";
    display: table;
}

.testimonials .item .testimonial:after {
    clear: both;
}

.testimonials .item .testimonial .text {
    color: #999;
    margin-bottom: 40px;
}

.testimonials .item .testimonial .bottom {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 20px;
    height: 50px;
}

.testimonials .item .testimonial .bottom .icon {
    color: #ff7473;
    font-size: 30px;
    float: left;
    width: 20%;
}

.testimonials .item .testimonial .name-picture {
    float: right;
    width: 80%;
    text-align: right;
}

.testimonials .item .testimonial .name-picture h5 {
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: .08em;
}

.testimonials .item .testimonial .name-picture p {
    color: #999;
    margin: 0;
    font-size: 12px;
}

.testimonials .item .testimonial .name-picture img {
    float: right;
    width: 60px;
    border-radius: 30px;
    margin-left: 10px;
}

.packages .package {
    background: #fff;
    margin-top: 25px;
    margin-bottom: 20px;
    padding-bottom: 15px;
    text-align: center;
    border: solid 1px #d62c2c;
    overflow: hidden;
}

.packages .package .package-header {
    height: 57px;
    color: #fff;
    line-height: 57px;
    background: #d62c2c;
}

.packages .package .package-header h5 {
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    line-height: 57px;
    margin: 0;
    letter-spacing: .08em;
}

.packages .package .package-header.light-gray {
    background: #eee;
}

.packages .package .package-header.light-gray h5 {
    color: #555;
}

.packages .package .price {
    line-height: 120px;
    height: 100px;
    color: #fff;
    font-weight: 400;
}

.packages .package .price h4 {
    display: inline;
    font-size: 40px;
    line-height: normal;
    margin-bottom: 0;
}

.packages .package .price .period {
    line-height: normal;
    color: #999;
}

.packages .package ul {
    padding: 0;
    margin-bottom: 20px;
}

.packages .package ul li {
    list-style-type: none;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 80%;
    margin: auto;
    border-bottom: 1px dotted #ccc;
}

.packages .package ul li:last-child {
    border-bottom: 0;
}

.packages .package ul li i {
    font-size: 13px;
    margin-right: 5px;
}

.packages .package .btn {
    margin-bottom: 20px;
}

.packages .package.best-value {
    margin-top: 0;
}

.packages .package.best-value .package-header {
    height: 72px;
    padding-top: 17px;
    height: 82px !important;
}

.packages .package.best-value .package-header h5 {
    font-weight: bold;
    line-height: 29px;
    text-transform: uppercase;
    letter-spacing: .08em;
}

.packages .package.best-value .package-header .meta-text {
    font-size: 13px;
    line-height: 15px;
}

.job-form-section {
    padding: 80px 0;
    background: #fafafa;
}

.job-form-section .job-main-form {
    margin-bottom: 40px;
}

.job-form-section .job-main-form label {
    font-family: "Montserrat",Helvetica,Arial,sans-serif;
    text-transform: uppercase;
    letter-spacing: .1em;
    margin-left: 10px;
}

.job-form-section.job-form-section--compressed {
    padding: 20px;
}

.job-form-section.job-form-section--compressed .job-main-form {
    margin-bottom: 0;
}

.job-form-section.job-form-section--image {
    background: center center url('../img/meeting.jpg') no-repeat;
    background-size: cover;
}

.job-main-form__button {
    margin-top: 25px;
    display: block;
    width: 100%;
}

.job-form-box {
    background-color: rgba(255,255,255,0.8);
    padding: 40px;
    margin-top: 40px;
    margin-bottom: 40px;
}

.job-listing {
    border: solid 1px #eee;
    border-bottom: none;
    padding-top: 30px;
    padding-bottom: 10px;
    padding-left: 19px;
    padding-right: 15px;
    -webkit-transition: all .2s ease-out;
    -moz-transition: all .2s ease-out;
    transition: all .2s ease-out;
}

.job-listing:before, .job-listing:after {
    content: " ";
    display: table;
}

.job-listing:after {
    clear: both;
}

.job-listing.job-listing--featured {
    border-left: solid 5px #ff7473;
    padding-left: 15px;
}

.job-listing.job-listing--last {
    border-bottom: solid 1px #eee;
    margin-bottom: 40px;
}

.job-listing:hover {
    background: #fafafa;
}

.job-content {
    padding: 0 15px;
}

.job__title {
    margin-top: 0;
}

.job__star__link {
    color: #999;
}

.job__star__link.active, .job__star__link:hover {
    color: #ff7473;
}

.job__location {
    margin-right: 5px;
    color: #999;
}

.job__star {
    text-align: right;
}

.featured__details {
    font-family: "Montserrat",Helvetica,Arial,sans-serif;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: .1em;
}

.featured__label {
    margin-left: 5px;
    position: relative;
    top: -2px;
}

.job-detail-description {
    text-align: center;
    text-transform: uppercase;
    letter-spacing: .1em;
    font-family: "Montserrat",Helvetica,Arial,sans-serif;
    color: #999;
}

.job-detail__company-description {
    color: #999;
}

.job-detail__social {
    text-align: left !important;
    padding: 20px 0;
}

.job-detail__apply-bottom {
    margin-top: 40px;
}

.author-date-top {
    font-family: "Montserrat",Helvetica,Arial,sans-serif;
    text-transform: uppercase;
    letter-spacing: .1em;
    color: #999;
    font-size: 12px;
    text-align: center;
}

.post {
    margin-bottom: 60px;
}

.post h2, .post h4 {
    text-align: center;
}

.post h2 a, .post h4 a {
    color: #555;
}

.post h2 a:hover, .post h4 a:hover {
    color: #ff7473;
}

.post .author-category {
    font-family: "Montserrat",Helvetica,Arial,sans-serif;
    text-transform: uppercase;
    letter-spacing: .1em;
    color: #999;
    font-size: 12px;
    margin-bottom: 5px;
    text-align: center;
}

.post .author-category a {
    color: #555;
}

.post .author-category a:hover {
    color: #ff7473;
}

.post .date-comments {
    font-family: "Montserrat",Helvetica,Arial,sans-serif;
    text-transform: uppercase;
    letter-spacing: .1em;
    color: #999;
    font-size: 12px;
    text-align: center;
}

.post .date-comments a {
    color: #999;
    margin-right: 20px;
}

.post .date-comments a:hover {
    color: #ff7473;
}

.post .post__intro {
    text-align: left;
}

.post .image {
    margin-bottom: 10px;
    overflow: hidden;
}

.post .image img {
    -webkit-transition: all .2s ease-out;
    -moz-transition: all .2s ease-out;
    transition: all .2s ease-out;
}

@media (max-width:767px) {
    .post .image img.img-responsive {
        min-width: 100%;
    }
}

.post .read-more {
    text-align: center;
}

.post:hover .image img {
    -webkit-transform: scale(1.1, 1.1);
    -ms-transform: scale(1.1, 1.1);
    transform: scale(1.1, 1.1);
}

#blog-homepage .post {
    margin-bottom: 60px;
}

#blog-homepage .post h2, #blog-homepage .post h4, #blog-homepage .post .author-category, #blog-homepage .post .read-more {
    text-align: center;
}

#blog-homepage .post .read-more {
    margin-top: 20px;
}

#blog-post #post-content {
    margin-bottom: 20px;
    font-size: 16px;
    line-height: 1.6;
}

#blog-post #post-content p, #blog-post #post-content ul, #blog-post #post-content ol, #blog-post #post-content h1, #blog-post #post-content h2, #blog-post #post-content h3, #blog-post #post-content h4, #blog-post #post-content h5, #blog-post #post-content h6 {
    margin-bottom: 30px;
}

#blog-post #post-content blockquote p {
    margin-bottom: 0;
}

#blog-post .comment {
    margin-bottom: 25px;
}

#blog-post .comment:before, #blog-post .comment:after {
    content: " ";
    display: table;
}

#blog-post .comment:after {
    clear: both;
}

#blog-post .comment .posted {
    color: #999;
    font-size: 12px;
}

#blog-post .comment .reply {
    font-family: "Montserrat",Helvetica,Arial,sans-serif;
}

#blog-post .comment.last {
    margin-bottom: 0;
}

#blog-post #comments, #blog-post #comment-form {
    padding: 20px 0;
    margin-top: 20px;
    border-top: solid 1px #eee;
}

#blog-post #comments:before, #blog-post #comment-form:before, #blog-post #comments:after, #blog-post #comment-form:after {
    content: " ";
    display: table;
}

#blog-post #comments:after, #blog-post #comment-form:after {
    clear: both;
}

#blog-post #comments h4, #blog-post #comment-form h4 {
    margin-bottom: 20px;
}

#blog-post #comment-form {
    margin-bottom: 20px;
}

.footer__block {
    background: #d62c2c;
    padding: 80px 0;
}

.footer__block h4 {
    border-top: solid 1px #fff;
    border-bottom: solid 1px #fff;
    padding: 15px 0;
    margin-bottom: 30px;
    font-size: 14px;
    color: #fff;
}

.footer__block h5 {
    color: #fff;
}

.footer__block ul {
    padding-left: 0;
    list-style: none;
}

.footer__block ul li {
    margin-bottom: 2px;
}

.footer__block ul a {
    color: #f7f7f7;
    margin-bottom: 2px;
}

.footer__block ul a:hover {
    color: #ff7473;
    text-decoration: none;
}

.footer__block p {
    color: #f7f7f7;
}

.footer__block p a {
    color: #f7f7f7;
}

@media (min-width:992px) {
    .footer__block .row {
        margin-bottom: 40px;
    }
}

.footer__block p.social {
    text-align: left;
}

.footer__copyright {
    background: #d62c2c;
    color: #fff;
    padding: 20px 0;
    font-size: 12px;
    line-height: 28px;
    font-family: "Montserrat",Helvetica,Arial,sans-serif;
    text-transform: uppercase;
    letter-spacing: .1em;
}

.footer__copyright p {
    margin: 0;
}

@media (max-width:991px) {
    .footer__copyright p {
        float: none !important;
        text-align: center;
        margin-bottom: 10px;
    }
}

.copyright {
    margin-top: 40px;
    color: #999;
}

.copyright p.credit {
    text-align: right;
}

.copyright p.credit a {
    color: #999;
}

@media (max-width:991px) {
    .copyright p.credit {
        text-align: center !important;
    }
}

@media (min-width:1200px) {
    .copyright {
        margin-top: 60px;
    }
}

@media (max-width:991px) {
    .copyright {
        text-align: center !important;
    }
}

#style-switch-button {
    position: fixed;
    top: 120px;
    left: 0;
    border-radius: 0;
    z-index: 2;
}

#style-switch {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 300px;
    padding: 20px;
    position: fixed;
    top: 160px;
    left: 0;
    background: #fff;
    border: solid 1px #eee;
    z-index: 2000;
}

#style-switch h4 {
    color: #555;
}

.nav {
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;
}

.nav > li > a {
    padding: 10px 15px;
}

.nav > li > a:hover, .nav > li > a:focus {
    background-color: #eee;
}

.nav > li.disabled > a {
    color: #999;
}

.nav > li.disabled > a:hover, .nav > li.disabled > a:focus {
    color: #999;
}

.nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
    background-color: #eee;
    border-color: #ffffff;
}

.nav-tabs {
    border-bottom: 1px solid #ddd;
}

.nav-tabs > li > a {
    line-height: 1.55;
    border-radius: 0 0 0 0;
}

.nav-tabs > li > a:hover {
    border-color: #eee #eee #ddd;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
    color: #555;
    background-color: #fff;
    border: 1px solid #ddd;
}

.nav-pills > li > a {
    border-radius: 0;
}

.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
    color: #fff;
    background-color: #ff7473;
}

.nav-tabs-justified > li > a {
    border-radius: 0;
}

.nav-tabs-justified > .active > a, .nav-tabs-justified > .active > a:hover, .nav-tabs-justified > .active > a:focus {
    border: 1px solid #ddd;
}

@media (min-width:768px) {
    .nav-tabs-justified > li > a {
        border-bottom: 1px solid #ddd;
        border-radius: 0 0 0 0;
    }

    .nav-tabs-justified > .active > a, .nav-tabs-justified > .active > a:hover, .nav-tabs-justified > .active > a:focus {
        border-bottom-color: #fff;
    }
}

.navbar {
    font-family: "Montserrat",Helvetica,Arial,sans-serif;
    min-height: 100px;
    margin-bottom: 0;
    border-top: none;
    border-bottom: none;
}

@media (min-width:768px) {
    .navbar {
        border-radius: 0;
    }
}

.navbar-collapse {
    max-height: 340px;
    overflow-x: visible;
    padding-right: 15px;
    padding-left: 15px;
}

.navbar-collapse.in {
    overflow-y: auto;
}

@media (min-width:768px) and (max-width:991px) {
    .navbar-collapse {
        font-size: 12px;
    }
}

@media (min-width:768px) {
    .navbar-collapse {
        width: auto;
        border-top: 0;
        box-shadow: none;
    }

    .navbar-collapse.collapse {
        display: block !important;
        height: auto !important;
        padding-bottom: 0;
        overflow: visible !important;
    }

    .navbar-collapse.in {
        overflow-y: visible;
    }

    .navbar-collapse.right {
        float: right;
    }

    .navbar-fixed-top .navbar-collapse, .navbar-static-top .navbar-collapse, .navbar-fixed-bottom .navbar-collapse {
        padding-left: 0;
        padding-right: 0;
    }
}

.container > .navbar-header, .container-fluid > .navbar-header, .container > .navbar-collapse, .container-fluid > .navbar-collapse {
    margin-right: -15px;
    margin-left: -15px;
}

@media (min-width:768px) {
    .container > .navbar-header, .container-fluid > .navbar-header, .container > .navbar-collapse, .container-fluid > .navbar-collapse {
        margin-right: 0;
        margin-left: 0;
    }
}

.navbar-brand {
    float: left;
    padding: 10px 15px;
    font-size: 18px;
    line-height: 21px;
    height: 100px;
}

.navbar-brand:hover, .navbar-brand:focus {
    text-decoration: none;
}

@media (min-width:768px) {
    .navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand {
        margin-left: -15px;
    }
}

.navbar-toggle {
    padding: 9px 10px !important;
    margin-right: 15px;
    border-radius: 0;
}

.navbar-nav {
    margin: 19.75px -15px;
}

.navbar-nav > li > a {
    padding-top: 10px;
    padding-bottom: 10px;
    line-height: 21px;
}

@media (max-width:767px) {
    .navbar-nav .open .dropdown-menu > li > a, .navbar-nav .open .dropdown-menu .dropdown-header {
        padding: 5px 15px 5px 25px;
    }

    .navbar-nav .open .dropdown-menu > li > a {
        line-height: 21px;
    }

    .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-nav .open .dropdown-menu > li > a:focus {
        background-image: none;
    }
}

@media (min-width:768px) {
    .navbar-nav {
        margin: 0 auto;
        display: table;
        table-layout: fixed;
        float: left;
    }

    .navbar-nav > li {
        float: left;
    }

    .navbar-nav > li > a {
        padding-top: 39.5px;
        padding-bottom: 39.5px;
    }

    .navbar-nav.navbar-right:last-child {
        margin-right: -15px;
    }
}

.navbar-form {
    margin-left: -15px;
    margin-right: -15px;
    padding: 10px 15px;
    border: none;
    margin-top: 32.5px;
    margin-bottom: 32.5px;
}

@media (max-width:767px) {
    .navbar-form .form-group {
        margin-bottom: 5px;
    }
}

.navbar-btn {
    margin-top: 32.5px;
    margin-bottom: 32.5px;
}

.navbar-btn.btn-sm {
    margin-top: 35px;
    margin-bottom: 35px;
}

.navbar-btn.btn-xs {
    margin-top: 39px;
    margin-bottom: 39px;
}

.navbar-text {
    margin-top: 39.5px;
    margin-bottom: 39.5px;
}

@media (min-width:768px) {
    .navbar-text {
        float: left;
        margin-left: 15px;
        margin-right: 15px;
    }

    .navbar-text.navbar-right:last-child {
        margin-right: 0;
    }
}

.navbar-default {
    background-color: #d62c2c;
    border-bottom-color: transparent;
}

.navbar-default .navbar-brand {
    color: #fff;
}

.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
    color: #e6e6e6;
    background-color: transparent;
}

.navbar-default .navbar-text {
    color: #777;
}

.navbar-default .navbar-nav > li > a {
    color: #fff;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    color: #ffa7a6;
    background-color: transparent;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    color: #ffa7a6;
    background-color: transparent;
}

.navbar-default .navbar-nav > .disabled > a, .navbar-default .navbar-nav > .disabled > a:hover, .navbar-default .navbar-nav > .disabled > a:focus {
    color: #ccc;
    background-color: transparent;
}

.navbar-default .navbar-toggle {
    border-color: transparent;
}

.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
    background-color: transparent;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #fff;
}

.navbar-default .navbar-collapse {
    border-color: transparent;
}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
    background-color: transparent;
    color: #ffa7a6;
}

@media (max-width:767px) {
    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
        color: #fff;
    }

    .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
        color: #ffa7a6;
        background-color: transparent;
    }

    .navbar-default .navbar-nav .open .dropdown-menu > .active > a, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
        color: #ffa7a6;
        background-color: transparent;
    }

    .navbar-default .navbar-nav .open .dropdown-menu > .disabled > a, .navbar-default .navbar-nav .open .dropdown-menu > .disabled > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > .disabled > a:focus {
        color: #ccc;
        background-color: transparent;
    }
}

.navbar-default .navbar-link {
    color: #fff;
}

.navbar-default .navbar-link:hover {
    color: #ffa7a6;
}

.dropdown-menu {
    z-index: 1000;
    font-size: 12px;
    background-color: #fff;
    border: 1px solid #ccc;
    border: 1px solid rgba(0,0,0,0.15);
    border-radius: 0;
}

.dropdown-menu .divider {
    height: 1px;
    margin: 9.5px 0;
    overflow: hidden;
    background-color: #e5e5e5;
}

.dropdown-menu > li > a {
    line-height: 1.55;
    color: #555;
}

.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
    color: #262626;
    background-color: #f5f5f5;
}

.dropdown-menu > .active > a, .dropdown-menu > .active > a:hover, .dropdown-menu > .active > a:focus {
    color: #fff;
    background-color: #ff7473;
}

.modal-content {
    background-color: #fff;
    border: 1px solid #999;
    border: 1px solid rgba(0,0,0,0.2);
    border-radius: 0;
}

body {
    font-family: "Roboto",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.55;
    color: #555;
    background-color: #fff;
}

a {
    color: #ff7473;
    text-decoration: none;
}

a:hover, a:focus {
    color: #ff2826;
    text-decoration: underline;
}

a:focus {
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
}

.img-rounded {
    border-radius: 0;
}

hr {
    margin-top: 21px;
    margin-bottom: 21px;
    border: 0;
    border-top: 1px solid #eee;
}

.breadcrumb {
    padding: 8px 0;
    margin-bottom: 21px;
    background-color: transparent;
    border-radius: 0;
    text-align: center;
}

.breadcrumb > li + li:before {
    content: "/\00a0";
    color: #ccc;
}

.breadcrumb > .active {
    color: #999;
}

.breadcrumb a {
    color: #ff7473;
}

@media (max-width:991px) {
    .breadcrumb {
        padding: 8px 0;
        text-align: center;
    }
}

.btn {
    font-weight: 700;
    font-family: "Montserrat",Helvetica,Arial,sans-serif;
    text-transform: uppercase;
    letter-spacing: .1em;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.55;
    border-radius: 0;
}

.btn-primary {
    color: #ff7473;
    background-color: #fff;
    border-color: #ff7473;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open .dropdown-toggle.btn-primary {
    color: #ff7473;
    background-color: #ebebeb;
    border-color: #ff3736;
}

.btn-primary:active, .btn-primary.active, .open .dropdown-toggle.btn-primary {
    background-image: none;
}

.btn-primary.disabled, .btn-primary[disabled], fieldset[disabled] .btn-primary, .btn-primary.disabled:hover, .btn-primary[disabled]:hover, fieldset[disabled] .btn-primary:hover, .btn-primary.disabled:focus, .btn-primary[disabled]:focus, fieldset[disabled] .btn-primary:focus, .btn-primary.disabled:active, .btn-primary[disabled]:active, fieldset[disabled] .btn-primary:active, .btn-primary.disabled.active, .btn-primary[disabled].active, fieldset[disabled] .btn-primary.active {
    background-color: #fff;
    border-color: #ff7473;
}

.btn-primary .badge {
    color: #fff;
    background-color: #ff7473;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active {
    background: #ff7473;
    color: #fff;
    border: solid 1px #ff7473;
}

.btn-transparent {
    color: #555;
    background-color: transparent;
    border-color: #555;
}

.btn-transparent:hover, .btn-transparent:focus, .btn-transparent:active, .btn-transparent.active, .open .dropdown-toggle.btn-transparent {
    color: #555;
    background-color: rgba(0,0,0,0);
    border-color: #373737;
}

.btn-transparent:active, .btn-transparent.active, .open .dropdown-toggle.btn-transparent {
    background-image: none;
}

.btn-transparent.disabled, .btn-transparent[disabled], fieldset[disabled] .btn-transparent, .btn-transparent.disabled:hover, .btn-transparent[disabled]:hover, fieldset[disabled] .btn-transparent:hover, .btn-transparent.disabled:focus, .btn-transparent[disabled]:focus, fieldset[disabled] .btn-transparent:focus, .btn-transparent.disabled:active, .btn-transparent[disabled]:active, fieldset[disabled] .btn-transparent:active, .btn-transparent.disabled.active, .btn-transparent[disabled].active, fieldset[disabled] .btn-transparent.active {
    background-color: transparent;
    border-color: #555;
}

.btn-transparent .badge {
    color: transparent;
    background-color: #555;
}

.btn-transparent:hover, .btn-transparent:focus, .btn-transparent:active, .btn-transparent.active {
    background: #ff7473;
    color: #fff;
}

.btn-lg {
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.33;
    border-radius: 0;
}

.btn-sm {
    padding: 5px 10px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 0;
}

.btn-xs {
    padding: 1px 5px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 0;
}

.dropdown-menu > li > a {
    padding: 8px 20px;
}

.label {
    font-family: "Montserrat",Helvetica,Arial,sans-serif;
    font-weight: normal;
    text-transform: uppercase;
}

label {
    font-weight: normal;
}

.form-control {
    display: block;
    width: 100%;
    height: 35px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.55;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.form-control::-moz-placeholder {
    color: #999;
    opacity: 1;
}

.form-control:-ms-input-placeholder {
    color: #999;
}

.form-control::-webkit-input-placeholder {
    color: #999;
}

.form-control:focus {
    border-color: #ff7473;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(255, 116, 115, 0.6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(255, 116, 115, 0.6);
}

.form-group {
    margin-bottom: 20px;
}

.pager {
    margin: 21px 0;
    border-top: solid 1px #eee;
    padding-top: 21px;
    text-transform: uppercase;
    letter-spacing: .1em;
    font-size: 12px;
    font-family: "Montserrat",Helvetica,Arial,sans-serif;
    font-weight: bold;
}

.pager li {
    display: inline;
}

.pager li > a, .pager li > span {
    background-color: #fff;
    border: 1px solid #ff7473;
    border-radius: 0;
}

.pager li > a:hover, .pager li > a:focus {
    text-decoration: none;
    color: #fff;
    background-color: #ff7473;
}

.pager .disabled > a, .pager .disabled > a:hover, .pager .disabled > a:focus, .pager .disabled > span {
    color: #999;
    background-color: #fff;
    border-color: #ddd;
}

.pagination {
    margin: 21px 0;
    font-family: "Montserrat",Helvetica,Arial,sans-serif;
    border-radius: 0;
}

.pagination > li > a, .pagination > li > span {
    padding: 6px 12px;
    line-height: 1.55;
    text-decoration: none;
    color: #ff7473;
    background-color: #fff;
    border: 1px solid #ddd;
}

.pagination > li:first-child > a, .pagination > li:first-child > span {
    margin-left: 0;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
}

.pagination > li:last-child > a, .pagination > li:last-child > span {
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
}

.pagination > li > a:hover, .pagination > li > span:hover, .pagination > li > a:focus, .pagination > li > span:focus {
    color: #ff7473;
    background-color: #fff;
    border-color: #ddd;
}

.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
    z-index: 2;
    color: #fff;
    background-color: #ff7473;
    border-color: #ff7473;
}

.pagination > .disabled > span, .pagination > .disabled > span:hover, .pagination > .disabled > span:focus, .pagination > .disabled > a, .pagination > .disabled > a:hover, .pagination > .disabled > a:focus {
    color: #999;
    background-color: #fff;
    border-color: #ddd;
}

@media (max-width:767px) {
    .text-center-xs {
        text-align: center !important;
    }

    .text-center-xs img {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
}

@media (min-width:768px) and (max-width:991px) {
    .text-center-sm {
        text-align: center !important;
    }

    .text-center-sm img {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: "Montserrat",Helvetica,Arial,sans-serif;
    font-weight: 700;
    line-height: 1.2;
    color: #555;
    text-transform: uppercase;
    letter-spacing: .1em;
}

h1, .h1 {
    font-size: 36px;
}

h2, .h2 {
    font-size: 30px;
}

h3, .h3 {
    font-size: 24px;
    font-weight: 700;
}

h4, .h4 {
    font-size: 18px;
    font-weight: 700;
}

h5, .h5 {
    font-size: 14px;
    font-weight: 700;
}

h6, .h6 {
    font-size: 12px;
    font-weight: 700;
}

h1, .h1, h2, .h2, h3, .h3 {
    margin-top: 0;
    margin-bottom: 21px;
}

p {
    margin: 0 0 21px;
}

.lead {
    margin-bottom: 21px;
    font-size: 16px;
}

@media (min-width:768px) {
    .lead {
        font-size: 21px;
    }
}

.text-small {
    font-size: 12px;
}

.text-large {
    font-size: 18px;
}

.text-italic {
    font-style: italic;
}

.text-primary {
    color: #ff7473;
}

a.text-primary:hover {
    color: #ff4140;
}

.bg-primary {
    color: #fff;
    background-color: #ff7473;
}

a.bg-primary:hover {
    background-color: #ff4140;
}

abbr[title], abbr[data-original-title] {
    border-bottom: 1px dotted #999;
}

blockquote {
    padding: 10.5px 21px;
    margin: 0 0 21px;
    font-size: 14px;
    border-left: 5px solid #ff7473;
}

blockquote footer, blockquote small, blockquote .small {
    display: block;
    font-size: 80%;
    line-height: 1.55;
    color: #999;
}

blockquote footer:before, blockquote small:before, blockquote .small:before {
    content: '\2014 \00A0';
}

.blockquote-reverse, blockquote.pull-right {
    border-right: 5px solid #ff7473;
}

address {
    margin-bottom: 21px;
    line-height: 1.55;
}

.panel {
    margin-bottom: 21px;
    background-color: #fff;
    border: 1px solid transparent;
    border-radius: 0;
    -webkit-box-shadow: 0 0 0;
    box-shadow: 0 0 0;
}

.panel-default {
    border-color: #666;
}

.panel-default > .panel-heading {
    color: #333;
    background-color: #fff;
    border-color: #666;
}

.panel-default > .panel-heading + .panel-collapse .panel-body {
    border-top-color: #666;
}

.panel-default > .panel-footer + .panel-collapse .panel-body {
    border-bottom-color: #666;
}

.panel-primary {
    border-color: #ff7473;
}

.panel-primary > .panel-heading {
    color: #fff;
    background-color: #ff7473;
    border-color: #ff7473;
}

.panel-primary > .panel-heading + .panel-collapse .panel-body {
    border-top-color: #ff7473;
}

.panel-primary > .panel-footer + .panel-collapse .panel-body {
    border-bottom-color: #ff7473;
}

.panel-primary .panel-title {
    font-weight: 300;
}

.panel-primary .panel-title a:hover {
    color: #fff;
    text-decoration: none;
}

a.badge:hover, a.badge:focus {
    color: #fff;
    text-decoration: none;
    cursor: pointer;
}

a.list-group-item.active > .badge, .nav-pills > .active > a > .badge {
    color: #ff7473;
    background-color: #fff;
}

.nav-pills > li > a > .badge {
    margin-left: 3px;
}

.contact-form {
    margin-bottom: 20px;
}

p.social {
    text-align: center;
    margin-top: 20px;
}

p.social a {
    margin: 0 10px 0 0;
    color: #fff;
    display: inline-block;
    width: 26px;
    height: 26px;
    border-radius: 13px;
    line-height: 26px;
    font-size: 15px;
    text-align: center;
    -webkit-transition: all .2s ease-out;
    -moz-transition: all .2s ease-out;
    transition: all .2s ease-out;
    vertical-align: bottom;
    border: solid 1px #ccc;
}

p.social a i {
    vertical-align: bottom;
    line-height: 26px;
}

p.social a.facebook {
    background-color: #4460ae;
    border-color: #4460ae;
}

p.social a.gplus {
    background-color: #c21f25;
    border-color: #c21f25;
}

p.social a.twitter {
    background-color: #3cf;
    border-color: #3cf;
}

p.social a.instagram {
    background-color: #cd4378;
    border-color: #cd4378;
}

p.social a.email {
    background-color: #4a7f45;
    border-color: #4a7f45;
}

p.social a.link {
    background-color: #871aff;
    border-color: #871aff;
}

p.social.social--outline a {
    background: transparent;
}

p.social.social--outline a.facebook {
    color: #4460ae;
    border-color: #4460ae;
}

p.social.social--outline a.gplus {
    color: #c21f25;
    border-color: #c21f25;
}

p.social.social--outline a.twitter {
    color: #3cf;
    border-color: #3cf;
}

p.social.social--outline a.instagram {
    color: #cd4378;
    border-color: #cd4378;
}

p.social.social--outline a.email {
    color: #4a7f45;
    border-color: #4a7f45;
}

p.social.social--outline a.link {
    color: #871aff;
    border-color: #871aff;
}
